
body
{
  background-image: url("./website_background.jpg");
  background-attachment: fixed ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: black;

  color: black;    /* MAIN TEXT COLOR */
  padding-left:60px;
  padding-top: 40px;
  font-size:1.3em;
  line-height:1.3em;
}  

ol, ul
{
  background-color: rgba(255,255,255, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 8px;
  width: 460px; 
}

li
{
  background-color: rgba(255,255,255, .9);
  margin-bottom: 8px;
  margin-left: -40px;
  width: 500px; 
  list-style: none;
  padding:5px;
}

p
{
  background-color: rgba(255,255,255, .9);
  margin-bottom: 5px;
  padding-left: 5px;
  width: 20ch;
  font-size:1.3em;
  line-height:1.3em;
}

a, a:focus, a:active, a:visited, a:link 
{
  text-decoration: none;
  color: inherit;
}

a:hover 
{
  text-decoration: underline;
  color: inherit;
}

tt, tr, td
{
  padding-bottom: 10px;
}
